.background-image {
    -fx-background-size: cover;
}

.main-menu-background {
    -fx-background-image: url("../images/main_menu_background.png");
}

.game-instructions-background {
    -fx-background-image: url("../images/game_guide.png");
}