.background-image {
    -fx-background-size: cover;
}

.main-menu-background {
    -fx-background-image: url("../images/main-menu-background.png");
}

.game-instructions-background {
    -fx-background-image: url("../images/game-guide.png");
}

.blur-background {
    -fx-background-color: rgba(0, 0, 0, 0.65);
}